body {
    background: url(bigsurday.jpg);
    background-size: cover;
    background-position: center;
    
    
}
#content {
    text-align: center;
    padding-top: 20%;
}
#logo {
    padding-left: 0%;
    color: aliceblue;
    padding-top: 0.5%;
    
}
html {
    height: 100%;
}
h1{
    font-size: 5rem;
    color: whitesmoke;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);

}
h3 {
    font-size: 0.5cm;
    color: whitesmoke;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
    
}                 


#buttonid {
    padding-top: 3%;
    color: whitesmoke;
}